@import url("https://fonts.googleapis.com/css2?family=Grey+Qo&display=swap");

/* To create variables */
:root {
  --colors1: red;
  --colors2: pink;
}

* {
  margin: 0;
  padding: 0;
}

h1 {
  /* To put the letters in capital : */
  text-transform: uppercase;

  /* To change the space between the letters : */
  letter-spacing: 2px;

  /* To change the text size : */
  font-size: 2.5rem;

  /* To change the color of the text : */
  color: blueviolet;

  /* To use variable */
  color: var(--colors1);

  /* To create shadow (px:xy and blur) : */
  text-shadow: 5px 3px 0px blanchedalmond;

  /* To align text : */
  text-align: center; /* text-align: right ...*/

  /* To change the text stile :text-align : */
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;

  /* To import a new police : go to https://fonts.google.com an import before h1{}*/
  font-family: "Grey Qo", cursive;
}

body {
  font-family: "Times New Roman", Times, serif;

  /* To change te background color : */
  background-color: cadetblue;

  /* To add a backgroung image */
  background: url(./assets/pexels-pixabay-373290.jpg) fixed center/cover;
  height: 100vh;
}

main {
  /* To change the color of the text box */
  background: cornsilk;

  /* To change the width of th text box */
  width: 90%; /*%of the screen user*/

  /* min-height: 500px; */

  /* To center the text and put a marge */
  margin: 10px 20px;
  margin-top: 10px;
  margin-left: 20px;
  margin: 0 auto; /*center*/

  /* To put a marge inside the text box */
  padding: 10px 20px;

  /* To change corner of the boxes : */
  border-radius: 10px;

  /* To put a shadow to the box : */
  box-shadow: 0 2px 12px 5px rgb(184, 24, 24);
}

.positioning,
.grid {
  /* Put border around the class positioning and modify it*/
  border: 2px solid skyblue;
  padding: 10px;
  margin-top: 20px;
  border-radius: 10px;
  position: relative;
}

#circle {
  /* Put border around the object circle declared in html */
  height: 60px;
  width: 60px;
  background: slateblue;
  padding: 20px;
  border-radius: 50%;
  /* The position of the oject is free in relativ of his parent */
  position: absolute;
  top: 50%;
  left: 50%;
  /* center the object */
  transform: translate(-50%, -50%);
}

#rectangle {
  height: 15px;
  width: 100px;
  background: springgreen;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50px, -50px);
  /* To change what form is on top of the other */
  z-index: 1;
}

ul {
  /* Put elements of the parents on the same line */
  display: flex;

  /*  To equilify the place between the elements*/
  justify-content: space-around;
}

li {
  list-style-type: none;
  font-size: 0.7rem;
  height: 160px;
  width: 160px;
  background: coral;

  /* Verticaly center */
  display: flex;
  align-items: center;
  justify-content: center;

  /* Flexbon generator : https://flexbox.help */
}

.grid-container {
  /* display element from parent and align theme */
  display: grid;

  /* First child take 30% of the place an second 70% */
  grid-template-columns: 30% 70%;
}

form {
  display: grid;

  /* Create a grid */
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;

  /* We draw the design that we want for the frid */
  grid-template-areas:
    "i1 i2"
    "ta ta"
    "bt bt";
}

input,
textarea {
  margin: 5px;
  height: 45px;
  border: 1px solid crimson;
  padding: 10px;
  border-radius: 5px;
  font-size: 1.1rem;
}

/* link the html parts with the name in grid template area */
#firstname {
  grid-area: i1;
}
#name {
  grid-area: i2;
}
textarea {
  grid-area: ta;

  /* user can't change the size of box */
  resize: none;
}
input[type="submit"] {
  grid-area: bt;

  /* change cursor on clikable part */
  cursor: pointer;

  /* change time of transition like for hover */
  transition: 0.4s;
}

/* Change element size when the pointer is on */
input[type="submit"]:hover {
  background: darkblue;
  color: white;
}

/* Change elements comportements when page size under 1000px */
@media screen and (max-width: 1000px) {
  .grid-container {
    display: block;
  }
}

/* change grid placement when page size unde 700px */
@media screen and (max-width: 700px) {
  form {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "i1"
      "i2"
      "ta"
      "bt";
  }
}

.polygone {
  clip-path: polygon(
    57% 72%,
    70% 0%,
    0 45%,
    100% 70%,
    30% 60%,
    30% 100%,
    17% 51%,
    91% 14%
  );
  background-color: yellow;
  height: 100px;
  width: 100px;
}
